
body {	
	
	background: rgb(245,245,245);
	font-size:40px;
	font-family:'Helvetica';
    text-align:center;


}





h1 {
	font.color: #050708;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	text-align: center;
	padding: 25px;
}

a{
	
	text-decoration-color:none;
	font-size:25px;
	font-family: 'Ubuntu';
	text-align:center;
	
}


h2{
	 border: black;
	 padding:20px 20px 30px;
	 font-size: 20px;
	 align-items: center;
	 text-decoration-color: black;
	 
	
}


.good{
  border-radius:50%;
  padding: 30px 30px 20px;
  float:inline-end;
}



#banner{
  
  background-image: url("images/NEGEV DESERT.jpg");
  color:white;
  padding:250px;
  background-repeat:no-repeat;
  background-size: cover;
 
 
}


#banner.h1 {
  font-color: white;
  font-size: 25px;
  text-align: center;
}
#banner p {
  font-color: white;
  font-size: 30px;
  font-weight: lighter;


}


 .card{
    padding: 50px 50px 30px ;
 	color: black;
    float;left;
    padding-bottom: 30px;
    padding-top:30px;

 }


 .x{
 	text-shadow: 1px 1px 5px black;

 }

 p{
   font-size: 20px;
   font-color:black;
   text-align:center;
 }


 #footer {
   max-width:100%;
   padding: 50px;
   background: rgb(30, 30, 30);
   color:lightgrey;
   margin:0px;

}


 
 










